* {
  font-family: Avenir, sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-fourth {
  flex-basis: 25%;
}

.header {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  width: 100px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #a4a4a4;
  font-size: 13px;
  padding: 0 1.5rem;
  width: 400px;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
}

.current-location {
  color: #0a4265;
}

button {
  color: white;
  background-color: #0a4265;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: translateY(2px);
}

button:hover,
input[type="submit"] {
  cursor: pointer;
}

.contact-button {
  padding: 0.7rem 0.8rem;
}

hr {
  background-color: #edeef0;
  height: 1px;
  border: none;
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  height: 450px;
  margin: 3rem 4rem;
  padding: 4rem 3rem;
}

.hero-home {
  background-image:
    linear-gradient(rgba(105, 105, 105, 0.4), rgba(105, 105, 105, 0.4)),
    url('images/hero.jpg');
}

.hero-product {
  background-image:
    linear-gradient(rgba(105, 105, 105, 0.4), rgba(105, 105, 105, 0.4)),
    url('images/product/product-header.jpg');
}

.hero-implementation {
  background-image:
    linear-gradient(rgba(105, 105, 105, 0.4), rgba(105, 105, 105, 0.4)),
    url('images/implementation/implementation-header.jpg');
}

.hero-about {
  background-image:
    linear-gradient(rgba(105, 105, 105, 0.4), rgba(105, 105, 105, 0.4)),
    url('images/about-us/about-us-header.jpg');
}

h1,
h2 {
  font-family: Tiempos Headline, serif;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 13px;
  line-height: 1.4rem;
  margin: 0;
}

.hero-heading,
.hero-par {
  width: 420px;
}

.hero-heading {
  line-height: 2.5rem;
}

.hero-par {
  margin: 0.8rem 0 1.5rem 0;
}

.get-started-button {
  font-size: 17px;
  font-weight: 550;
  padding: 0.8rem 2.5rem;
  width: 170px;
}

.gray-text {
  color: #6e6e6e;
}

.gray-background {
  background-color: #fafafa;
}

.content {
  padding: 3rem;
}

.locations-box {
  text-align: center;
  padding: 3rem;
}

.endorse-body {
  width: 45%;
  margin: 0.5rem auto;
}

.locations {
  margin: 3rem auto;
  line-height: 2.5rem;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-right {
  align-items: flex-end;
}

.align-left {
  align-items: flex-start;
}

.product-image {
  width: 100%;
}

.product-text {
  width: 75%;
}

.product-par {
  margin: 0.5rem 0;
}

.product-link {
  color: #0a4265;
  margin: 2rem 0;
}

.quote {
  font-family: Tiempos Headline, serif;
  font-style: italic;
  font-size: 12px;
}

.implementation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.implementation-heading {
  font-size: 13px;
  margin-bottom: 3rem;
}

.implementation-body {
  margin: 0.5rem 0;
  width: 490px;
}

.implementation-number {
  font-family: Tiempos Headline, serif;
  font-size: 28px;
  margin-right: 0.5rem;
}

.implementation-subheading {
  font-size: 16px;
  margin: 1rem 0;
}

.implementation-par {
  margin: 1rem 0;
}

.center-text {
  text-align: center;
}

.about-textbox {
  width: 485px;
  margin: auto;
}

.about-par {
  line-height: 20px;
  margin: 0.8rem 0;
}

.about-link {
  color: #0a4265;
  font-weight: 600;
}

.member-block {
  text-align: center;
  margin: 0 1rem;
}

.portrait {
  width: 100%;
  border-radius: 50%;
  padding: 1rem 3rem;
}

.about-heading {
  font-size: 28px;
  margin: 4rem auto 2rem;
}

.board-member {
  font-size: 14px;
  line-height: 3rem;
}

.subscribe-box {
  margin-top: 4rem;
}

.subscribe-heading {
  font-size: 26px;
  margin: 1rem auto;
}

.input-box {
  color: #d8d1d1;
  border-color: #a4a4a4;
  border-width: 0 0 1px;
  font-size: 20px;
  font-weight: 500;
  width: 425px;
  margin: 1.5rem;
  padding: 0.6rem 0;
}

.input-box::placeholder {
  color: #d8d1d1;
}

.subscribe-button {
  font-size: 16px;
  padding: 0.8rem 2.2rem;
  margin: 1rem;
}

.blogs {
  flex-wrap: wrap;
  width: 750px;
  margin: 0 auto 3rem;
}

.blog-box {
  padding: 0.8rem;
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-heading {
  color: #0a4265;
  margin: 0.5rem 0;
}

.contact-touch {
  padding: 3rem 3.9rem 3rem 0;
}

.contact-heading {
  font-size: 30px;
}

.contact-number {
  color: #0a4265;
  font-size: 26px;
  font-weight: 500;
  margin: 1.3rem 0;
}

.contact-par {
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  padding: 1rem 0;
}

.submit-button {
  color: white;
  background-color: #0a4265;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
}

.ready {
  margin: 2rem 4rem;
}

.ready-heading {
  margin-bottom: 0.6rem;
}

.get-started {
  text-align: right;
  margin: auto 4rem;
}

.bottom-details {
  display: flex;
  color: white;
  background-color: #525351;
  padding: 6rem 4rem;
}

.bottom-logo {
  width: 100px;
  margin-bottom: 2.5rem;
}

address {
  font-style: normal;
  font-size: 11px;
  line-height: 20px;
}

.bottom-heading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.links {
  line-height: 2.2rem;
  margin-top: 0.5rem;
}

.footer {
  padding: 3rem 4rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  color: #6e6e6e;
  font-weight: bold;
  width: 25%;
}
